Rockola/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65385/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Google.Apis.YouTube.v3.Data" />
  <xs:element name="GetListYoutube">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListYoutubeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Google.Apis.YouTube.v3.Data" minOccurs="0" name="GetListYoutubeResult" nillable="true" type="q1:ArrayOfSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>